<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Mi Sitio</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 40px;
        }
        h1 {
            color: #c50beb;
        }
        p {
            color: #75ff4b;
        }
        button {
            padding: 10px 20px;
            font-size: 16px;
            margin: 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <h1>Bienvenidooo</h1>
    </header>
    <main>
        <p>¡Bienvenido al universo digital, donde el código cobra vida.!</p>
        
        <button onclick="window.location.href='/login'">Iniciar Sesión</button>
        <button onclick="window.location.href='/registro'">Registrarse</button>
    </main>

</body>
</html>
